@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.to-sun {
  animation-name: to-sun;
  animation-duration: 0.5s;
}

.to-moon {
  animation-name: to-moon;
  animation-duration: 0.5s;
}

@keyframes to-moon {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

@keyframes to-sun {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}